{% load custom_filters %} 
<div class="col-xl-12 bg-white ">  
    <div class="row">
        <div class="col-xl-6 items-center flex px-4 py-3"> 
                Note: This is the list of latest insurance policy per vehicle 
        </div>
        <div class="col-xl-6 mt-[0] lg:mt-[13px] xl:mt-[0] flex justify-end flex-col lg:flex-row py-4"> 
            <div class="flex-1 mt-[13px] lg:mt-[0] mr-0 lg:mr-2 w-full lg:w-fit">
                {% include 'components/inputs/input_with_icon.html' with placeholder='Search' name="filter_search" icon="fal fa-search" type="text" classContainer="rounded-md"  %}
            </div>
        
            <div class="mt-[13px] lg:mt-[0] mr-0 lg:mr-2 w-full lg:w-fit"> 
                {% url 'main:export_filter_modal' as export_filter_modal %}
                {% with export_filter_modal|addstr:'?type=insurance_status&insurance_type='|addstr:type as export_srf_filter_modal %}
                    {% include 'components/buttons/btn_border.html' with title='Export' isModal=True link=export_srf_filter_modal class='w-full rounded-md' icon="fal fa-file-export" %}
                {% endwith %}  
            </div> 
        </div> 
    </div>
    <div class="row">
        <div class="col-xl-12 flex p-0"> 
            <div id="container_data" class="bg-white rounded-md w-full permission-container">
            </div>
        </div>
    </div>  
</div> 
 
<script>  

    var branch_type = ''

    $(document).ready(function(e){ 
        loadData();   
    })
    
    $("input[name=filter_search]").on("input", debounced(500, function(e){
        loadData();
    }));

    function loadData(){
        var filter_search = $("input[name=filter_search]").val() || ""; 
        var filter_limit = $("#container_data [name='pagination_limit']").val() || 10;
        
        var query_params = urlParameterize({
            "search": filter_search,
            "limit": filter_limit,
            "branch_type": branch_type,
            "type": "{{type}}",
            "status": "approved"
        });
        
        $('#container_data').loadSubpage({
            url: "{% url 'insurance:table_insurance' %}?"+query_params,
        })
    } 
 

    
    $('.filter_item').click(function() {
        const value = $(this).data('value')
        if(value != ''){
            if(value.includes('sort_')){
                // let sort_column = value.replace('sort_', '')
                // console.log(sort_column, sort, sort.includes(sort_column))
                // if(sort.includes(sort_column))
                // {
                //     if(sort.includes('-')){
                //         sort = sort.replace('-','')
                //     } else{
                //         sort = '-' + sort
                //     }
                // } else {
                //     sort = '-' + sort_column
                // }
            } else {
                branch_type = value
            } 
            setTimeout(() => {
                loadData()
            }, 400);
        } 
    })
</script> 