{% extends 'base/auth_base.html' %}
{% block content %} 
    <div class="w-[80%]" data-aos="fade-up" data-aos-delay=400>
        <div class="mb-10">
            <a href="{% url 'main:login' %}">
                <i class="fal fa-long-arrow-left"></i>
                <label>
                    Back to login
                </label>
            </a>
        </div>
        <div class="font-semibold text-3xl">
            Forgot Password
        </div>
        <div class="mb-14">
            Type in email signed in to W Express
        </div>
        <form id="form-reset" action="{% url 'main:forgot_password_request' %}">
            <div id="forgot-email" class="w-full">
                <div class="" style="margin-bottom: 10px;">
                    {% include 'components/inputs/input_with_label.html' with label="Username" placeholder='Username' name="username" class='my-1' iconRight="fal fa-envelope" type="text" classBorder="border-gray-400"  %}
                </div> 
                <div class="mb-10">
                    {% include 'components/inputs/input_with_label.html' with label="Email" placeholder='Email address' name="email" class='my-1' iconRight="fal fa-envelope" type="email" classBorder="border-gray-400"  %}
                </div>  
                <div class="mt-20">
                    {% include 'components/buttons/btn_regular.html' with id="sendEmailBtn" type="submit" title='Send email' class='bg-primaryColor text-white rounded-md' size='lg' %} 
                </div>
            </div>
        </form>
       
        <div id="success-email" class="w-full grid place-items-center" data-aos="fade-up">
            <img src="/static/image/forgot password storyset.svg" class="h-[300px] w-[300px]"/>
            <div class="text-2xl mt-5">
                Email Successfully send!
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    $('#success-email').hide()
 
    API.formRequest(
        '#form-reset',
        extended_data={},
        processData=() => {},
        checkValidation=(form_data) => {
            return true
        },
        callback=(response)=>{ 
            console.log(response)
            if([200,201].includes(response.status)){
                $('#success-email').show()
                $('#forgot-email').hide()
            } else if (response.status != 400) {
                Swal.fire({
                    icon: [200,201].includes(response.status)?'success':'error',
                    title:  'Login Validation',
                    text: response.message || response.data?.message,
                })
            } 
        },
        isMultiForm=false
    )
</script>
{% endblock %}