{% comment %}
    Variables
    - id:string
    - class:string
    - name:string
    - type:string  (textarea)
    - placeholder:string
    - iconLeft
    - iconRight
    - classBorder
    - label
    - labelClass
    - labelClass
    - required
    - value
    - pattern
    - attribute
    - options = [{
        'name':'',
        'value':''
    }]
    - number_validation (number, money, decimal)
    if dropdown_search -- select2
        - url *
        - multiple
        - options = [{
            'id': '',
            'text': ''
        }]
        
{% endcomment %}

<div class="w-full">
    {% if label %}
        <div class="{{labelClass}} mb-2">
            {{label}}
        </div>
    {%  endif %}
    <div class="w-full">
        {% if type == 'textarea' %} 
                <textarea id="{{id}}" placeholder="{{placeholder}}" name="{{name}}" class='border-{{name}} input-border-component {{class}} w-full rounded-md '
                    rows="{% if rows %}{{rows}} {% else %}4{% endif %}"
                    {{attribute}}  
                    {% if readonly %}readonly{% endif %}
                    {% if required %}  
                        required
                    {% endif %}
                >{{value}}</textarea>  
        {% else %}
            <div class='border-{{name}} input-border-component {% if classBorder %}{{classBorder}}{% else %}border-primaryColor{% endif %} {{class}} flex w-full border-1 text-sm rounded-md'
            {% if type == 'date' %}
                data-mdb-format="mm-dd-yyyy"  id="{{id}}" data-mdb-toggle-button="false"
            {% endif %}>
                {% if iconLeft %}
                    <div class='grid place-items-center px-3 pr-[10px]'>
                        <i class="{{iconLeft}}"></i>
                    </div>
                {% endif %}
                <div class='flex items-stretch justify-center flex-1'>
                    {% if type == 'date' %}
                        <input type="text" {% if disabled %}disabled{% endif %} {% if readonly %}readonly{% endif %} class=" w-full focus:outline-none border-0 bg-transparent  " 
                        value="{{ value|date:"m-d-Y" }}" name="{{name}}" data-mdb-toggle="datepicker" placeholder="{{placeholder}}"
                        {% if required %}  
                            required
                        {% endif %}/> 
                        <script>
                            var {{name}} = document.querySelector('#{{id}}'); 
                            new mdb.Datepicker({{name}}, {
                                datepicker: { format: 'mm-dd-yyyy'},
                            });
                        </script>
                        {% elif type == 'date_range' %}
                            <input name="{{fromName}}" type="hidden" value="{{valueFrom}}"/>
                            <input name="{{toName}}" type="hidden" value="{{valueTo}}" />

                            {% if hasRange %} 
                                <div id="{{id}}" class=' w-full focus:outline-none border-0 bg-transparent my-[1px] cursor-pointer'  style="padding: 4.3px 9px;" >
                                    <i class="fa fa-calendar"></i>&nbsp;
                                    <span>{{placeholder}}</span> <i class="fa fa-caret-down"></i>
                                </div>
                                
                                <script type="text/javascript">
                                        var start_{{id}} = moment().subtract(29, 'days');
                                        var end_{{id}} = moment();
                                    
                                        function cb{{id}}(start, end) { 
                                            $('input[name={{fromName}}]').val(start.format('YYYY-MM-DD'))
                                            $('input[name={{toName}}]').val(end.format('YYYY-MM-DD'))
                                            $('#{{id}} span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                                        }
                                    
                                        $('#{{id}}').daterangepicker({ 
                                            autoUpdateInput: false,
                                            locale: {
                                                cancelLabel: 'Clear'
                                            },
                                            
                                            ranges: {
                                                'Today': [moment(), moment()],
                                                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                                                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                                                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                                                'This Month': [moment().startOf('month'), moment().endOf('month')],
                                                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                                            }
                                        
                                        }, cb{{id}});
                                        $('#{{id}}').off('apply.daterangepicker')
                                        $('#{{id}}').on('apply.daterangepicker', function(ev, picker) {
                                            if (typeof onDateRangeChange_{{id}} === "function")
                                                onDateRangeChange_{{id}}(picker.startDate , picker.endDate);
                                        });
                                        
                                        function clear{{id}}() {
                                            $('input[name={{fromName}}]').val('')
                                            $('input[name={{toName}}]').val('')
                                            $('#{{id}} span').html('{{placeholder}}');
                                        } 
                                        $('#{{id}}').off('cancel.daterangepicker')
                                        $('#{{id}}').on('cancel.daterangepicker', function(ev, picker) { 
                                            $(this).val('');
                                            clear{{id}}()
                                            setTimeout(() => {
                                                if (typeof onDateRangeChange_{{id}} === "function")
                                                    onDateRangeChange_{{id}}('' , '');
                                            }, 600);
                                        });
                                        

                                </script>
                            {% else %}
                            <!-- sample value 01/01/2018 - 01/15/2018 -->
                            <input type="text" style="border: none;width: 100%;" placeholder="{{placeholder}}" id="{{id}}" name="{{name}}" value="{{value}}" />

                                <script>
                                    function clear{{id}}() {
                                        $('input[name={{fromName}}]').val('')
                                        $('input[name={{toName}}]').val('')
                                        $('#{{id}} span').html('{{placeholder}}');
                                    }  
                                    $('input[name="{{name}}"]').daterangepicker({
                                        opens: 'left',
                                        autoUpdateInput: false,
                                        locale: {
                                            cancelLabel: 'Clear'
                                        }
                                    }, function(start, end, label) { 
                                        
                                        console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
                                    });
                                    $('input[name="{{name}}"]').off('cancel.daterangepicker')
                                    $('input[name="{{name}}"]').on('cancel.daterangepicker', function(ev, picker) {
                                        //do something, like clearing an input
                                        $(this).val('');
                                        $('input[name={{fromName}}]').val('')
                                        $('input[name={{toName}}]').val('')
                                        if (typeof onDateRangeChange_{{id}} === "function")
                                            onDateRangeChange_{{id}}('' , '');
                                    });
                                    
                                    $('input[name="{{name}}"]').off('apply.daterangepicker')
                                    $('input[name="{{name}}"]').on('apply.daterangepicker', function(ev, picker) {
                                        $('input[name={{fromName}}]').val(picker.startDate.format('YYYY-MM-DD'))
                                        $('input[name={{toName}}]').val(picker.endDate.format('YYYY-MM-DD'))
                                        if (typeof onDateRangeChange_{{id}} === "function")
                                            onDateRangeChange_{{id}}(picker.startDate , picker.endDate);
                                        $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
                                    }); 
                                </script>
                            {% endif %}
                    {% elif type == 'dropdown' %}  
                        <select id="{{id}}" {% if disabled %}disabled{% endif %} name="{{name}}" class='{{class}} w-full focus:outline-none focus:ring-0 border-0 ' 
                            {{attribute}}
                            style="padding: 5px 9px; padding-right: 32px;"
                        {% if required %}  
                            required
                        {% endif %}>
                            {% if placeholder %}<option value="" hidden="">{{ placeholder }}</option>{% endif %}
                            {% if option_empty %}<option value="">{{ option_empty }}</option>{% endif %}
                            {% for option in options %}
                                <option value="{{option.value}}"
                                {% if value == option.value %}selected{% endif %}>
                                    {{option.name}}
                                </option>
                            {% endfor %}
                        </select>
                    {% elif type == 'dropdown_search' %}  
                        
                        <select id="{{id}}" name="{{name}}"  {% if disabled %}disabled{% endif %} class='{{class}}' 
                            {{attribute}}
                            style="padding: 4.3px 9px;width:100%;"
                        {% if required %}  
                            required
                        {% endif %}>
                        {% comment %} value(id) and text is required for edit to show the default selected option {% endcomment %}
                        {% for option in default_value %}
                            <option value="{{option.id}}" selected>
                                {{option.text}}
                            </option>
                        {% endfor %}
                        </select>
                        
                        <script>
                        {% if url %}
                            $("#{{id}}").select2({
                                theme: "bootstrap-5",
                                placeholder: "{{placeholder}}",
                                closeOnSelect: true,
                                allowClear: {% if allowClear %} true{% else %} false{% endif %},
                                {% if multiple %}
                                    multiple: true,
                                {% else %} 
                                    multiple: false, 
                                {% endif %}
                                {% if modalParent %}
                                    dropdownParent: $("#modal_rounded"),
                                {% endif %}
                                ajax: {
                                    url: "{{url}}",
                                    dataType: 'json',
                                    delay: 250,
                                    data: function(params) {
                                        return {
                                            search: params.term,
                                            page: params.page || 1,
                                            limit: 10
                                        };
                                    },
                                    processResults: function(response, params) {
                                        params.page = params.page || 1;
                                        return {
                                            results: response.data,
                                            pagination: {
                                                more: (params.page) < response.page_count
                                            }
                                        };
                                    },
                                    cache: true
                                    },
                            });
                        {% endif %}
                            {% for option in default_value %}
                                {% if not forloop.last %}
                                    $("#{{id}}").append($("<option selected='selected'></option>").val("{{option.id}}").text("{{option.text}}".trim())).trigger('change');
                                {% endif %}
                            {% endfor %}
                            
                        </script> 
                    {% elif type == 'phone_number' %} 
                        <input type="text" {% if readonly %}readonly{% endif %} name="{{name}}" id="{{id}}" 
                        class="w-full focus:outline-none border-0 bg-transparent py-[9px]"
                        placeholder="{{placeholder}}" value="{{value}}" required/>
                        <script>
                                $('#{{id}}').numberfy({
                                    "allow_negative": false,
                                    "comma_formatted": false,
                                    "allow_decimal": false,
                                });
                                
                                var {{name}} = document.querySelector("#{{id}}");
                                var {{name}}_intel = window.intlTelInput({{name}},{
                                        preferredCountries: ['ph'],
                                        separateDialCode: true,
                                        utilsScript: "/static/plugins/phone_country_code/js/utils.js",
                                });
                        </script>
                    {% else %}
                        <input id="{{id}}" name="{{name}}" {% if readonly %}readonly{% endif %}  class=' w-full focus:outline-none border-0 bg-transparent my-[1px]'
                        value="{{value}}" type="{{type}}" placeholder="{{placeholder}}" 
                        {{attribute}}

                        {% if type == 'password' and not isDisabledPsswordValidation %} 
                        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*]).+$"
                        title="Must include at least one uppercase letter, one lowercase letter, one number, and one special character (!@#$%^&*)"
                        {% endif %}

                        {% if pattern %} 
                            pattern="{{pattern}}"
                        {% endif %}
                        {% if required %}  
                            required
                        {% endif %}/> 
                        {% if type == 'password' %}
                            <div data-inputid="{{id}}" id="eye{{id}}" class='input-btn px-3 flex justify-end items-center cursor-pointer'>
                                <i class="far fa-eye"></i>
                            </div>
                        {% endif %}
                        <script>
                            {% if number_validation == 'number' %}
                                $('#{{id}}').numberfy({
                                    "allow_negative": false,
                                    "comma_formatted": false,
                                    "allow_decimal": false,
                                });
                            {% elif number_validation == 'money' %}
                                $('#{{id}}').numberfy({
                                    "allow_negative": false,
                                    "comma_formatted": true,
                                    "allow_decimal": true,
                                });
                            {% elif number_validation == 'decimal' %}
                                $('#{{id}}').numberfy({
                                    "allow_negative": false,
                                    "comma_formatted": false,
                                    "allow_decimal": true,
                                });
                            {% endif %}

                            {% if type == 'password' %}
                                $('#eye{{id}}').click(()=>{
                                    var input_type = $("#{{id}}").prop("type");
                                    
                                    if (input_type == 'text'){
                                        $("#{{id}}").attr("type", "password");
                                        $('#eye{{id}}').html('<i class="far fa-eye"></i>')
                                    } else if (input_type == 'password'){
                                        $("#{{id}}").attr("type", "text");
                                        $('#eye{{id}}').html('<i class="fas fa-eye-slash"></i>')
                                    }
                                });
                            {% endif %}
                                
                        </script>
                    {% endif %}
                </div>
                {% if iconRight %}
                    <div data-inputid="{{id}}" class='input-btn px-3 flex justify-end items-center cursor-pointer'>
                        <i class="{{iconRight}}"></i>
                    </div>
                {% endif %}
            </div> 
        {% endif %}  
    </div>
    <div id="message-{{name}}" class="text-[#D74141] text-sm input-message-component"> 
    </div>
</div>
