
{% comment %} tabindex="-1" {% endcomment %}
{% comment %} I remove the tabindex for select2 issue cannot type in the textbox when inside modal{% endcomment %}
<div class="modal fade"  id="modal_rounded_overlay" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" id="modal_dialog">
        <div class="modal-content rounded-2xl p-4" >
            <!-- <div class="modal-header bg-primaryColor text-white">
                <h5 class="modal-title text-xl" id="staticBackdropLabel">{{title}}</h5>
                <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"><i class="fal fa-times"></i></button>
            </div>
            <div class="modal-body p-0"> 
            </div> -->
        </div>
    </div>
</div>