{% load custom_tags %} 
<center style="display:table;table-layout:fixed;width:100%;min-width:620px;background-color:#fbfbfb">
    <table style="border-collapse:collapse;border-spacing:0;width:650px;min-width:650px">
        <tbody>
        <tr>
            <td style="padding:0;vertical-align:top;font-size:1px;line-height:1px">&nbsp;</td>
        </tr>
        </tbody>
    </table>
    <table style="border-collapse:collapse;border-spacing:0;margin-left:auto;margin-right:auto;width:602px">
        <tbody>
        <tr>
            <td style="padding:0;vertical-align:top;font-size:1px;line-height:1px;background-color:#e9e9e9;width:1px">&nbsp;</td>
        </tr>
        <tr>
            <td style="padding:32px 0;vertical-align:top">
                <div style="font-size:26px;font-weight:700;letter-spacing:-0.02em;line-height:32px;color:#41637e;font-family:sans-serif;text-align:center" align="center" id="m_1251380996548889015emb-email-header">
                    <img style="border:0;display:block;margin-left:auto;margin-right:auto;max-width:400px;object-fit: contain;" src="https://fms.maginnotech.com/static/image/wexpress-logo.png" alt="" width="276" height="82" class="CToWUd">
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <table style="border-collapse:collapse;border-spacing:0;font-size:1px;line-height:1px;background-color:#e9e9e9;margin-left:auto;margin-right:auto" width="602">
        <tbody>
        <tr>
            <td style="padding:0;vertical-align:top">​</td>
        </tr>
        </tbody>
    </table>

    <table style="border-collapse:collapse;border-spacing:0;margin-left:auto;margin-right:auto">
        <tbody>
        <tr>
            <td style="padding:0;vertical-align:top;font-size:1px;line-height:1px;background-color:#e9e9e9;width:1px">​</td>
            <td style="padding:0;vertical-align:top">
                <table style="border-collapse:collapse;border-spacing:0;margin-left:auto;margin-right:auto;width:600px;background-color:#ffffff;font-size:14px;table-layout:fixed">
                    <tbody>
                    <tr>
                        <td style="padding:0;vertical-align:top;text-align:left">
                            <div>
                                <div style="font-size:32px;line-height:32px">&nbsp;</div>
                            </div>
                            <table style="border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%">
                                <tbody>
                                <tr>
                                    <td style="padding:0;vertical-align:top;padding-left:32px;padding-right:32px;word-break:break-all;word-wrap:break-word">


                                        <h1 style="margin-top:0;color:#565656;font-weight:700;font-size:36px;margin-bottom:18px;font-family:sans-serif;line-height:42px;word-break: keep-all;">Your One-Time Password (OTP) is:</h1>
 
 
                                        <br> 

                                        <span style="margin-top:0;color:#565656;font-size:26px;line-height:25px;margin-bottom:25px; text-decoration: underline;">
                                            {{code}}
                                        </span>

                                        <br>
                                        <br>
                                        <span style="margin-top:0;color:#565656;font-family:Georgia,serif;font-size:16px;line-height:25px;margin-bottom:25px;word-break:break-word">Please enter this code to complete your verification.
                                            For your security, this code will expire in 10 minutes and can only be used once.
                                            <br> <br>
                                            If you did not request this code, please ignore this email or contact our support team immediately.</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <div style="font-size:8px;line-height:8px">&nbsp;</div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td style="padding:0;vertical-align:top;font-size:1px;line-height:1px;background-color:#e9e9e9;width:1px">​</td>
        </tr>
        </tbody>
    </table>

    <table style="border-collapse:collapse;border-spacing:0;font-size:1px;line-height:1px;background-color:#e9e9e9;margin-left:auto;margin-right:auto" width="602">
        <tbody>
        <tr>
            <td style="padding:0;vertical-align:top">​</td>
        </tr>
        </tbody>
    </table>

    <table style="border-collapse:collapse;border-spacing:0;margin-left:auto;margin-right:auto;width:602px">
        <tbody>
        <tr>
            <td style="padding:0;vertical-align:top">
                <table style="border-collapse:collapse;border-spacing:0">
                    <tbody>
                    <tr>
                        <td style="padding:0;vertical-align:top;width:250px;padding-top:32px;padding-bottom:64px">
                            <table style="border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%">
                                <tbody>
                                <tr>
                                    <td style="padding:0;vertical-align:top;padding-left:0;padding-right:10px;word-break:break-all;word-wrap:break-word;text-align:left;font-size:12px;line-height:20px;color:#999;font-family:Georgia,serif">
                                        <div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                        <td style="padding:0;vertical-align:top;width:350px;padding-top:32px;padding-bottom:64px">
                            <table style="border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%">
                                <tbody>
                                <tr>
                                    <td style="padding:0;vertical-align:top;padding-left:10px;padding-right:0;word-break:break-all;word-wrap:break-word;font-size:12px;line-height:20px;color:#999;font-family:Georgia,serif;text-align:right">
                                        <div>This is a system generated email and reply is not required.</div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</center>