{% load custom_filters %}
{% load custom_tags %}
<form  id="form-details" 
{% if id %}
    action="{% url 'vehicle:update_srf' id %}"
{% else %}
    action="{% url 'vehicle:request_srf' %}"
{% endif %} 
  >
    <div class="col-xl-12  bg-white p-8 ">  
        <div class="flex">
            <div class="flex-1">
                <div  class="text-2xl font-semibold">
                    Service Request Maintenance Report Form
                </div>
                <div class="text-xs text-black">
                    Complete the needed information.
                </div>
            </div>  
            <div >
                {% if details.status != 'pending' and  'reject' not in details.status %}
                    {% url 'main:export_pdf_modal' as export_pdf_modal %}
                    {% with export_pdf_modal|addstr:'?type=srf_form&id='|addstr:details.pk as new_export_pdf_modal %}
                        {% include 'components/buttons/btn_regular.html' with title='Generate Form' isModal=True modalSize="modal-lg" link=new_export_pdf_modal size="sm" class='bg-primaryColor text-white rounded-md ' %} 

                    {% endwith %}  
                {% endif %}
                
            </div>
        </div> 
            <div class="col-12">
                <div class="mt-2">
                    {% url 'branch:branch_search' as branch_search %}
                    {% include 'components/inputs/input_with_label.html' with label="Requesting Branch / Dept" name="branch" url=branch_search placeholder="Search Branch / Dept" labelClass='text-black text-sm' class='my-1 py-[2px]' type="dropdown_search" id="branch_2" classBorder="border-gray-400" required=True disabled=is_readonly %}
                </div>
            </div>  
       
        <div class="row mt-4">
            <div class="col-xl-12">
                <div class="row mt-2">
                    <div class="mt-2 col-lg-12">
                        {% if id %}
                            {% include 'components/inputs/input_with_label.html' with label="SRF no." name="" labelClass='text-black text-sm' class='my-1' type="text" classBorder="border-gray-400" required=True value=details.srf_no attribute="readonly" %} 
                        {% else %}
                            {% get_current_srf as get_current_srf %}
                            {% include 'components/inputs/input_with_label.html' with label="SRF no." name="" labelClass='text-black text-sm' class='my-1' type="text" classBorder="border-gray-400" required=True value=get_current_srf attribute="readonly" %} 
                        {% endif %}
                    </div>
                    
                </div> 
                <div class="row mt-2">
                    <div class="mt-2 col-lg-6">
                        {% if id %} 
                            {% include 'components/inputs/input_with_label.html' with label="Request Date" name="" labelClass='text-black text-sm' class='my-1' type="text" classBorder="border-gray-400" required=True value=details.requested_date|date:"m-d-Y" attribute="readonly" %}
                        {% else %}
                            {% now "m-d-Y" as date_now %}
                            {% include 'components/inputs/input_with_label.html' with label="Request Date" name="" labelClass='text-black text-sm' class='my-1' type="text" classBorder="border-gray-400" required=True value=date_now attribute="readonly" %}
                        {% endif %}
                    </div>
                    <div class="mt-2 col-lg-6">
                        {% if id %}
                            {% if details.prepare_by %}
                                {% with details.prepare_by.first_name|addstr:details.prepare_by.last_name as name_authenticate %}
                                    {% include 'components/inputs/input_with_label.html' with label="Prepared by" name="" labelClass='text-black text-sm' class='my-1' type="text" classBorder="border-gray-400" required=True value=name_authenticate attribute="readonly" %} 
                                {% endwith %} 
                            {% else %}
                                {% include 'components/inputs/input_with_label.html' with label="Prepared by" name="" labelClass='text-black text-sm' class='my-1' type="text" classBorder="border-gray-400" required=True value="Unknown" attribute="readonly" %} 
                            {% endif %}
                        {% else %}
                            {% with request.user.first_name|addstr:request.user.last_name as name_authenticate %}
                                {% include 'components/inputs/input_with_label.html' with label="Prepared by" name="" labelClass='text-black text-sm' class='my-1' type="text" classBorder="border-gray-400" required=True value=name_authenticate attribute="readonly" %} 
                            {% endwith %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-xl-12 mt-4 border-[1px] rounded-lg border-gray-300 p-4"> 
                <div class="font-semibold">
                    Vehicle Information
                </div>
                <div class="text-black">
                    Fill out your details.
                </div>
                <div class="row mt-4">
                    <div class="col-xl-4">
                        <div class="mt-2">  
                                {% include 'components/inputs/input_with_label.html' with label="Vehicle for repair" placeholder="Please select vehicle" name="requesting_unit" id="requesting_unit" labelClass='text-black text-sm' class='my-1' type="dropdown" classBorder="border-gray-400" required=True value=profile.country disabled=is_readonly %}
                            {% comment %}
                            <div class="flex justify-start mt-3">
                                {% url 'vehicle:modal_vehicle' as modal_vehicle %}   
                                {% include 'components/buttons/btn_regular.html' with title='CREATE VEHICLE' link=modal_vehicle id="modal_vehicle" isModal=True size="xs" class='bg-primaryColor text-white rounded-3xl px-4' %} 
                            </div>
                            {% endcomment %}
                        </div>
                    </div>
                    <div class="col-xl-4 mt-2"> 
                        {% include 'components/inputs/input_with_label.html' with label="Plate No" name="plate_no" id="plate_no" labelClass='text-black text-sm' class='my-1' type="text" classBorder="border-gray-400" attribute="readonly"   %}
                    </div> 
                    <div class="col-xl-4 mt-2"> 
                        {% include 'components/inputs/input_with_label.html' with label="CS No" name="conduction_sticker_no" id="conduction_sticker_no" labelClass='text-black text-sm' class='my-1' type="text" classBorder="border-gray-400" attribute="readonly"   %}
                    </div> 
                    <div class="col-xl-4 mt-2"> 
                        {% include 'components/inputs/input_with_label.html' with label="Make/Series" name="make_series" id="make_series" labelClass='text-black text-sm' class='my-1' type="text" classBorder="border-gray-400" attribute="readonly"   %}
                    </div> 
                    <div class="col-xl-4 mt-2"> 
                        {% include 'components/inputs/input_with_label.html' with label="Year Model" name="year_model" id="year_model" labelClass='text-black text-sm' class='my-1' type="text" classBorder="border-gray-400" attribute="readonly"   %}
                    </div> 
                    <div class="col-xl-4 mt-2"> 
                        {% include 'components/inputs/input_with_label.html' with label="Vehicle Status" id="vehicle_status" name="vehicle_status" options=status_option labelClass='text-black text-sm' class='my-1' type="dropdown" classBorder="border-gray-400" disabled=True %}
                    </div> 
                    
                    <div class="mt-2 col-lg-6">
                        
                        {% if details.is_defective %}
                        {% include 'components/inputs/input_with_label.html' with label="Odometer" name="odometer" id="odometer" labelClass='text-black text-sm' class='my-1' type="text" classBorder="border-gray-200" readonly=True %} 
                        {% else %}
                        {% include 'components/inputs/input_with_label.html' with label="Odometer" name="odometer" id="odometer" labelClass='text-black text-sm' class='my-1' type="text" classBorder="border-gray-400" required=True value=details.odometer readonly=is_readonly %}
                        {% endif %}
                        
                        <div class="mt-2 col-lg-12"> 
                            <div class="flex items-center mb-4">
                                <input id="is_defective"  name="is_defective" value="is_defective" type="checkbox" 
                                {% if details.is_defective %}
                                checked
                                {% endif %}
                                {% if is_readonly %}
                                disabled
                                {% endif %}
                                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500">
                                <label for="is_defective" class="ml-2 text-md font-medium text-gray-900 ">
                                    Is Defective
                                </label>
                            </div> 
                        </div>  
                    </div>
                    <div class="mt-2 col-lg-6">
                        {% include 'components/inputs/input_with_label.html' with label="Driver’s name" name="driver_name" labelClass='text-black text-sm' class='my-1' type="text" classBorder="border-gray-400" required=True value=details.driver_name readonly=is_readonly %}
                    </div>
                    <div class="col-lg-6 mt-2"> 
                        {% if details.is_not_breakdown %}
                        {% include 'components/inputs/input_with_label.html' with label="Start date of breakdown" name="start_breakdown" id="start_breakdown" labelClass='text-black text-sm' class='my-1' type="date" classBorder="border-gray-200" disabled=True %}
                        {% else %}
                        {% include 'components/inputs/input_with_label.html' with label="Start date of breakdown" name="start_breakdown" id="start_breakdown" labelClass='text-black text-sm' class='my-1' type="date" classBorder="border-gray-400" value=details.start_breakdown required=True  disabled=is_readonly %}
                        {% endif %}
                        
                        <div class="mt-2 col-lg-12"> 
                            <div class="flex items-center mb-4">
                                <input id="is_not_breakdown"  name="is_not_breakdown" value="is_not_breakdown" type="checkbox" 
                                {% if details.is_not_breakdown %}
                                checked
                                {% endif %}
                                {% if is_readonly %}
                                disabled
                                {% endif %}
                                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500">
                                <label for="is_not_breakdown" class="ml-2 text-md font-medium text-gray-900 ">
                                    Is Not Breakdown
                                </label>
                            </div> 
                        </div>  
                    </div> 
                     <div class="col-lg-12 "> 
                         </div>
                    <div class="col-lg-6 mt-2"> 
                        {% include 'components/inputs/input_with_label.html' with label="Target date to start repair" name="repair_date" id="repair_date" labelClass='text-black text-sm' class='my-1' type="date" classBorder="border-gray-400" required=True value=details.repair_date disabled=is_readonly %}
                    </div>
                    <div class="col-lg-6 mt-2"> 
                        {% include 'components/inputs/input_with_label.html' with label="Target date to complete repair" name="repair_date_end" id="repair_date_end" labelClass='text-black text-sm' class='my-1' type="date" classBorder="border-gray-400" required=True value=details.repair_date_end disabled=is_readonly %}
                    </div>
                </div>
            </div>
        </div> 
         
        <div class="row mt-4">
            <div class="col-xl-12">
                <div class="font-bold text-2xl">
                    Repair Details
                </div>
                <div class="text-black">
                    Complete the needed information.
                </div>
            </div>
        </div>
        <div class="row mt-2 ">
            <div class="mt-2 col-xl-5">
                <div class="row mt-2">
                    <div class="mt-2 col-lg-12"> 
                        {% include 'components/inputs/input_with_label.html' with label="Date of previous repair" name="previous_repair_date" labelClass='text-black text-sm' class='my-1' id="previous_repair_date" type="text" classBorder="border-gray-400" value=details.previous_repair_date|date:"m-d-Y" attribute="readonly"  %}
                    </div>
                    <div class="mt-2 col-lg-12">
                        {% include 'components/inputs/input_with_label.html' with label="Previous repair classification" name="previous_repair_classification" id="previous_repair_classification" labelClass='text-black text-sm' class='my-1' type="dropdown_search" classBorder="border-gray-400 p-1" multiple=True attribute="disabled"  %}
                    </div>
                    <div class="mt-2 col-lg-12">
                        {% with details.one_y_repair_cost|moneyfy as one_y_repair_cost %}
                            {% include 'components/inputs/input_with_label.html' with label="1-yr actual repair cost" name="one_y_repair_cost" number_validation="money" id="one_y_repair_cost" labelClass='text-black text-sm' class='my-1' type="text" classBorder="border-gray-400" required=True value=one_y_repair_cost attribute="readonly"  %}
                        {% endwith %}   
                        
                        
                    </div>
                </div>  
            </div>
            <div class="col-xl-7 mt-2 "> 
                <div class="w-full">
                    <div class="bg-white  rounded-md  w-full h-full">
                        <div class="relative overflow-x-auto   sm:rounded-lg  ">
                            <table class="w-full text-sm text-left text-black">
                                <thead class="text-xs text-white bg-primaryColor">
                                    <tr>
                                        <th scope="col" class="px-6 py-3">
                                            <div class="flex items-center"> 
                                                Parts
                                            </div> 
                                        </th> 
                                        <th scope="col" class="px-6 py-3">
                                            <div class="flex items-center"> 
                                                Description
                                            </div> 
                                        </th> 
                                        <th scope="col" class="px-6 py-3">
                                            <div class="flex items-center"> 
                                                Quantity
                                            </div> 
                                        </th>  
                                        <th scope="col" class="px-6 py-3">
                                            <div class="flex items-center"> 
                                                Action 
                                            </div> 
                                        </th> 
                                    </tr>
                                </thead>
                                <tbody id="table_service"> 
                                    <tr id="body_empty">
                                        <td class="py-6" colspan="5">
                                            {% include 'components/others/empty_list.html' with icon="bx bxs-wrench" message="No Parts To Replace" %}
                                        </td>
                                    </tr> 
                                </tbody>
                            </table>
                        </div>
                    </div> 
                    <div class="flex justify-end mt-2">
                        {% if not is_readonly  %}
                            {% url 'vehicle:replace_parts' as replace_parts %}
                            {% include 'components/buttons/btn_regular.html' with title='ADD PARTS TO REPLACED' isModal=True link=replace_parts size="sm" class='bg-primaryColor text-white rounded-md ' %} 
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-xl-4 mt-2"> 
                {% with details.actual_repair_ytd|moneyfy as actual_repair_ytd  %}
                {% include 'components/inputs/input_with_label.html' with label="Actual repair (YTD) " name="actual_repair_ytd" id="actual_repair_ytd" labelClass='text-black text-sm' class='my-1' type="text" classBorder="border-gray-400" attribute="readonly" value=actual_repair_ytd  %}
                {% endwith %}
            </div>  
            <div class="col-xl-4 mt-2"> 
                {% with details.annual_repair_budget|moneyfy as annual_repair_budget  %}
                {% include 'components/inputs/input_with_label.html' with label="Annual repair budget " name="annual_repair_budget" id="annual_repair_budget" labelClass='text-black text-sm' class='my-1' type="text" classBorder="border-gray-400" attribute="readonly" value=annual_repair_budget  %}
                {% endwith %}
            </div>  
            <div class="col-xl-4 mt-2"> 
                {% with details.variance|moneyfy as variance  %}
                {% include 'components/inputs/input_with_label.html' with label="Variance (budget vs. actual) " name="variance" id="variance" labelClass='text-black text-sm' class='my-1' type="text" classBorder="border-gray-400" attribute="readonly"  value=variance %}
                {% endwith %}
            </div>  
        </div>
        
        <div class="row mt-2">
            <div class="mt-2 col-lg-6"> 
                {% include 'components/inputs/input_with_label.html' with label="Current repair classification" name="repair_classification" id="repair_classification" labelClass='text-black text-sm' class='my-1' type="dropdown_search" classBorder="border-gray-400 p-1" multiple=True required=True value=profile.user.first_name disabled=is_readonly  %}
                
            </div>
            <div class="mt-2 col-lg-6">
                {% include 'components/inputs/input_with_label.html' with label="Specific type of repair" name="specific_repair_classification" labelClass='text-black text-sm' class='my-1' type="text" classBorder="border-gray-400" required=True value=details.specific_repair_classification readonly=is_readonly  %}
            </div>
        </div> 

        <div class="row mt-2">
            <div class="mt-2 col-lg-12">
                {% include 'components/inputs/input_with_label.html' with label="Complaint / Observation / Reason (e.g. due to accident) " name="reason" labelClass='text-black text-sm' class='my-1' type="text" classBorder="border-gray-400" value=details.reason readonly=is_readonly  %}
                
            </div> 
        </div> 
        <div class="row mt-2">
            <div class="mt-2 col-lg-6">
                {% include 'components/inputs/input_with_label.html' with label="Parts to be replaced" name="parts_to_replace" labelClass='text-black text-sm' class='my-1' type="text" classBorder="border-gray-400" required=True value=details.parts_to_replace readonly=is_readonly  %}
            </div>
            <div class="mt-2 col-lg-6"> 
                <div class="text-black text-left self-start text-sm mb-2">
                    Mode of payment
                </div>
                <div class="border-gray-400 my-1 flex w-full border-1 text-sm rounded-md">
                    <div class="flex items-stretch justify-center flex-1">
                        <select  
                        
                        {% if is_mode_of_payment_not_editable %}
                            disabled 
                        {% endif %} 
                        id="mode_of_payment" name="mode_of_payment" class="my-1 w-full focus:outline-none focus:ring-0 border-0 " style="padding: 5px 9px; padding-right: 32px;" required>
                            <option value="">
                                Please select mode of payment
                            </option>
                            <option value="N/A" {% if details.mode_of_payment == 'N/A' %}selected{% endif %}>
                                N/A
                            </option>  
                            <option value="Cash"  {% if details.mode_of_payment == 'Cash' %}selected{% endif %}>
                                Cash
                            </option> 
                            <option value="Terms" {% if details.mode_of_payment == 'Terms' %}selected{% endif %}>
                                Terms
                            </option>  
                        </select> 
                    </div> 
                </div>   
            </div>
            <div class="mt-2 col-lg-6"> 
                    {% url 'vehicle:supplier_search' as supplier_search %} 
                {% include 'components/inputs/input_with_label.html' with label="Accredited supplier name" allowClear=True url=supplier_search placeholder="Please Supplier" name="accreditation_no_supplier" id="accreditation_no_supplier" labelClass='text-black text-sm' class='my-1' type="dropdown_search" classBorder="border-gray-400" required=True value=profile.country disabled=is_supplier_name_not_editable  %}
                <!-- {% include 'components/inputs/input_with_label.html' with label="Accreditation no. of supplier" name="accreditation_no_supplier" id="accreditation_no_supplier" labelClass='text-black text-sm' class='my-1' type="text" classBorder="border-gray-400" attribute='list="supplier-list"' value=profile.user.first_name  %}
                <datalist id="supplier-list">
                    {% for data in supplier %}
                        <option value="{{data.accreditation_no}}">
                    {% endfor %} 
                </datalist> -->
            </div>
            
            <div class="mt-2 col-lg-6">
                {% include 'components/inputs/input_with_label.html' with label="Un-accredited supplier name" name="unaccredited_supplier" labelClass='text-black text-sm' class='my-1' type="text" classBorder="border-gray-400" value=details.unaccredited_supplier readonly=is_unaccred_supplier_name_not_editable  %}
            </div>
        </div>  
        <div class="row mt-2">
            <div class="mt-2 col-lg-3">
                {% with details.total_request_amount|moneyfy as total_request_amount %}
                    {% include 'components/inputs/input_with_label.html' with label="Total requested amount " name="total_request_amount" number_validation="money" id="total_request_amount" labelClass='text-black text-sm' class='my-1' type="text" classBorder="border-gray-400" required=True value=total_request_amount readonly=is_total_request_amount_not_editable  %}
                {% endwith %}   
                
                
            </div> 
            {% if details.status == 'approved' or details.status == 'complete' %}
                <div class="mt-2 col-lg-3">
                    {% with details.total_approved_amount|moneyfy as total_approved_amount %}
                        {% include 'components/inputs/input_with_label.html' with label="Approved Amount " name="total_approved_amount" number_validation="money" id="total_approved_amount" labelClass='text-black text-sm' class='my-1' type="text" classBorder="border-gray-400" required=True value=total_approved_amount readonly=True  %}
                    {% endwith %}   
                    
                    
                </div> 
                <div class="mt-2 col-lg-3"> 
                        {% include 'components/inputs/input_with_label.html' with label="PR No. " name="pr_no" number_validation="money" id="pr_no" labelClass='text-black text-sm' class='my-1' type="text" classBorder="border-gray-400" required=True value=details.pr_no readonly=True  %}
                
                    
                    
                </div> 
                <div class="mt-2 col-lg-3"> 
                        {% include 'components/inputs/input_with_label.html' with label="Total requested amount " name="po_no" number_validation="money" id="po_no" labelClass='text-black text-sm' class='my-1' type="text" classBorder="border-gray-400" required=True value=details.po_no readonly=True  %}
                
                    
                </div> 
            {% endif %}
            <div class="mt-2 col-lg-9">

            </div>
            {% if not is_readonly  %}
            <div class="mt-2 col-lg-6 flex flex-col justify-center"> 
                <div class="text-black text-sm mb-2">
                    Upload supporting document
                </div>
                <input type="file" name="supporting_document" class="mb-2">
                <input type="file" name="supporting_document" class="mb-2">
                <input type="file" name="supporting_document" class="mb-2">
                <input type="file" name="supporting_document" class="mb-2">
                <input type="file" name="supporting_document" class="mb-2">

                
            </div>  
            
            <div class="mt-2 col-xl-6">
                {% include 'components/inputs/input_with_label.html' with label="Remarks" name="remarks" labelClass='text-black text-sm' class='my-1' type="textarea" classBorder="border-gray-400" value=details.remarks  %}
            </div> 
            {% endif %}
        </div>  
        {% if id %}
        <div class="row mt-4">
            <div class="col-xl-6">
                <div class="font-semibold">Supporting documents</div>
                <ul style="list-style: unset;">
                    {% for supporting_document in supporting_documents %}
                        <li>
                            <a href="{{supporting_document.document.url}}" target="_blank">{{supporting_document.file_name}}</a> 
                        </li>   
                        {% empty %} 
                        <label>No supporting documents uploaded.</label>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-xl-6">
                <div class="font-semibold">Actual Repair documents</div>
                <ul style="list-style: unset;">
                    {% for actual_repair_document in actual_repair_documents %}
                        <li>
                            <a href="{{actual_repair_document.document.url}}" target="_blank">{{actual_repair_document.file_name}}</a>    
                        </li>
                        {% empty %} 
                        <label>No actual repair document uploaded.</label>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        
       
        {% if is_display_approval %} 
            {% url 'vehicle:update_srf_status' as update_srf_status %}
            <div class="{{approval_class}} flex justify-end items-end py-4"> 
                {% if is_for_update %} 
                    <div class="mr-2">  
                        {% include 'components/buttons/btn_regular.html' with title='UPDATE SRF' type="submit" class='bg-primaryColor text-white rounded-md ' %} 
                    </div> 
                {% endif %}
                <div class="mr-2">  
                    
                    {% with 'data-id="'|addstr:details.pk|addstr:'" data-type="approve" data-status="approved" data-url="'|addstr:update_srf_status|addstr:'"'|safe as attribute_approve %}
                        {% include 'components/buttons/btn_regular.html' with title='APPROVE' id='add-item-consumable' type="button"  class='status-btn bg-primaryColor text-white rounded-md ' attribute=attribute_approve %}
                    {% endwith %}  
                    
                </div> 
                <div class="mr-2">  
                    
                    {% with 'data-id="'|addstr:details.pk|addstr:'" data-type="comment" data-status="approved" data-url="'|addstr:update_srf_status|addstr:'"'|safe as attribute_approve %}
                        {% include 'components/buttons/btn_regular.html' with title='APPROVE WITH COMMENTS' id='add-item-consumable' type="button"  class='status-btn bg-green-500 text-white rounded-md ' attribute=attribute_approve %}
                    {% endwith %}  
                    
                </div> 
               
                <div > 
                    {% with 'data-id="'|addstr:details.pk|addstr:'" data-status="reject" data-url="'|addstr:update_srf_status|addstr:'"'|safe as attribute_reject %}
                        {% include 'components/buttons/btn_regular.html' with type="button" title='REJECT' class='status-btn bg-[#FF5353] text-white rounded-md ' attribute=attribute_reject  %}
                    {% endwith %} 
                    
                </div>
                
            </div> 
        {% endif %}
        
        <div class="CRT_SRF flex justify-end py-4"> 
            {% if id %}
                {% if details.status == 'pending' and not is_display_approval and endorse_label %}
                    {% include 'components/buttons/btn_regular.html' with title='UPDATE SRF' type="submit" size="sm" class='bg-primaryColor text-white rounded-md ' %} 
                    <a class="NDRSSRF px-3 py-2 ml-2 bg-primaryColor text-white rounded-md  flex items-center justify-center text-sm update-status" data-id="{{details.pk}}" data-status="approved" href="#">  
                        <span class="">Endorsed to {{endorse_label}}</span> 
                    </a> 
                {% endif %}
                
            {% else %}  
            <div class="flex-1">
                <div class="font-bold text-primaryColor">
                    Note: Please review before submitting for approval.
                </div>
            </div>
            <div class=""> 
                <div class="flex"> 
                    <button type="submit" class="px-3 py-2 ml-2 bg-red-500 text-white rounded-md  flex items-center justify-center text-sm update-status" data-id="{{details.pk}}" data-status="approved" href="#">  
                        <span class="">Save as draft</span> 
                    </button> 
                    <button id="for-approval" type="submit" class="px-3 py-2 ml-2 bg-green-500 text-white rounded-md  flex items-center justify-center text-sm update-status" data-id="{{details.pk}}" data-status="approved" href="#">  
                        <span class="">Submit for approval</span> 
                    </button>  
                    <input type="hidden" value="" name="for_approval_status"/>
                </div> 
            </div>
            
            {% endif %}
        </div>
    </div>
</form> 

 

<script>  

$(document).off('click', '#is_defective')
$(document).on('click', '#is_defective', function() { 
    if($(this).is(':checked')) { 
        $('input[name="odometer"]').val('')
        $('input[name="odometer"]').attr('readonly', true)
        $('input[name="odometer"]').removeAttr('required')
        $('.border-odometer').removeClass('border-gray-400')
        $('.border-odometer').addClass('border-gray-200')
    } else { 
        $('input[name="odometer"]').attr('readonly', false)
        $('input[name="odometer"]').attr('required', true)
        $('.border-odometer').removeClass('border-gray-200')
        $('.border-odometer').addClass('border-gray-400')
    }
})

$(document).off('click', '#is_not_breakdown')
$(document).on('click', '#is_not_breakdown', function() { 
    if($(this).is(':checked')) { 
        $('input[name="start_breakdown"]').val('')
        $('input[name="start_breakdown"]').attr('disabled', true)
        $('input[name="start_breakdown"]').removeAttr('required')
        $('.border-start_breakdown').removeClass('border-gray-400')
        $('.border-start_breakdown').addClass('border-gray-200')
    } else { 
        $('input[name="start_breakdown"]').attr('disabled', false)
        $('input[name="start_breakdown"]').attr('required', true)
        $('.border-start_breakdown').removeClass('border-gray-200')
        $('.border-start_breakdown').addClass('border-gray-400')
    }
})
$(document).on('input', '#total_request_amount', function(e) {
if(parseFloat($('#total_request_amount').val().replace(/,/g, ''))> 50000){
    Swal.fire({
        icon: 'info',
        title: 'Info', 
        text: 'Amount is more than 50,000. Please check if correct.', 
    }) 
}
})
$(document).on('click', '.btn-remove-service', function() {
let id = $(this).data('val')

$('#'+id).remove() 
if($('.parts-item').length < 1){
    $('#body_empty').show()
}
})

$('#for-approval').click(function(){  
    $('input[name=for_approval_status]').val('for branch manager endorsement')

})

API.formRequest(
    '#form-details',
    extended_data={},
    processData=() => {
        return {
            'previous_repair_classification': prev_repairs_ids
        }
    },
    checkValidation=(form_data) => { 
        return true
    },
    callback=(response)=>{
        console.log(response) 
            Swal.fire({
                icon: [200,201].includes(response.status)?'success':'error',
                title:  'Message', 
                text: response.message || response.data?.message, 
            }).then(()=>{
                if([200,201].includes(response.status)){ 
                    {% if id %}
                    location.reload()
                    {% else %}
                    location.href = "{% url 'user:srf' %}"
                    {% endif %}
                } 
            }) 
    },
    isMultiForm=true
)
</script>

<script>
    var prev_repairs_ids = []
    var branches_of_selected_clinic = [] 

    {% if id %}
    var is_edit = true;
    var is_loaded_branch = false;
    var is_loaded_default = false
    {% endif %}

    $('#requesting_unit').on('change', function() {
    const request_unit = $(this).val(); 
    prev_repairs_ids = []
    $.ajax({
        url: `/vehicle/ajax/vehicle-details/${request_unit}?srf={{details.pk}}`,
        type: 'GET',
        dataType: 'json',
        success: function(response){
            if(response){
                $('input[name="plate_no"]').val(response.plate_no)
                $('input[name="conduction_sticker_no"]').val(response.conduction_sticker_no)
                $('input[name="make_series"]').val(response.make_series)
                $('input[name="year_model"]').val(response.year_model) 
                $('input[name="actual_repair_ytd"]').val(numeral(response.actual_repair_total).format('0,0.00'))
                $('input[name="annual_repair_budget"]').val(numeral(response.annual_budget).format('0,0.00'))
                $('input[name="variance"]').val(numeral(response.variance).format('0,0.00'))
                
                if(response.previous_data) {
                    $('input[name=one_y_repair_cost]').val(numeral(response.previous_data.total_year_amount).format('0,0.00'))
                    $('input[name="previous_repair_date"]').val(response.previous_data.repair_date)
                    
                    response.previous_data.repair_classification.map((val) => { 
                        prev_repairs_ids.push(val.pk.toString()) 
                    })    
                    $('#previous_repair_classification').val(prev_repairs_ids).change();  
                }
                $('#vehicle_status').val(response.vehicle_status).change()
            }
        }
    })
    })

    $('#branch_2').on('change', function() {
        const branch_id = $(this).val(); 
        var query_vehicle_params = urlParameterize({
            "branch_id": branch_id,
            "is_srf": true,
            "branch_name": $('#branch_2').find(":selected").text()
        });
        if($('#modal_vehicle').length != 0){
            let modal_vehicle = $('#modal_vehicle').attr('href'); 
            $('#modal_vehicle').attr('href', modal_vehicle.split('?')[0] + `?${query_vehicle_params}`)  
        } 
        $('#requesting_unit').html(`<option value="">Please select vehicle</option>`);
        var query_params = urlParameterize({
            "paginated": "false",
            "branch": branch_id
        });
        
        $.ajax({
            url: '{% url "vehicle:vehicle_search" %}?' + query_params,
            type: 'GET',
            dataType: 'json',
            success: function(response){
                if(response){   
                    let requesting_unit = "{{details.requesting_unit.pk}}";
                    response.data.map((val, idx) => {
                        $('#requesting_unit').append(`<option value="${val.id}" ${requesting_unit == val.id?'selected': ''}>${val.text}</option>`);
                        
                    })
                    {% if id %}
                    $('#requesting_unit').change()
                    {% endif %}
                }
            }
        })


        // $('#accreditation_no_supplier').html(`<option value="">Please select supplier</option>`);
        var query_params = urlParameterize({
            "paginated": "false",
            "branch": branch_id
        });
        
        $.ajax({
            url: '{% url "vehicle:supplier_search" %}?' + query_params,
            type: 'GET',
            dataType: 'json',
            success: function(response){
                if(response){   
                    // let accreditation_no_supplier = "{{details.accreditation_no_supplier}}";
                    // response.data.map((val, idx) => {
                    //     $('#accreditation_no_supplier').append(`<option value="${val.id}" ${accreditation_no_supplier == val.id?'selected': ''}>${val.text}</option>`);
                    // })
                }
            }
        })
    }) 

    $("#requesting_unit").select2({
        theme: "bootstrap-5",
        placeholder: "Please select vehicle"
    });  

    $.ajax({
        url: '{% url "vehicle:repair_search" %}',
        type: 'GET',
        dataType: 'json',
        success: function(response){
            if(response){   
                let repairs = [] 
                response.data.map((val) => { 
                    repairs.push(
                        {id: val.id, text: val.text}
                    )
                })  
                console.log(repairs)
                $('#previous_repair_classification').select2('destroy').empty().select2({data: repairs});  
                $('#repair_classification').select2('destroy').empty().select2({data: repairs});  
                {% if id %}
                    setTimeout(() => {
                        $('#repair_classification').val([
                            {% for data_repair in details.repair_classification.all %}
                                "{{data_repair.pk}}",
                            {% endfor %}
                        ]).change();  
                        $('#previous_repair_classification').val([
                            {% for data_repair in details.previous_repair_classification.all %}
                                "{{data_repair.pk}}",
                            {% endfor %}
                        ]).change();
                    }, 500);
                {% endif %}
            }
        }
    }) 


    $("#previous_repair_classification").select2({
        theme: "bootstrap-5",
        placeholder: "Select current repair classification",
        multiple: true 
    });

    $("#repair_classification").select2({
        theme: "bootstrap-5",
        placeholder: "Select current repair classification",
        multiple: true
    });

    $('#accreditation_no_supplier').on('change', function(){ 
        if($(this).val() != '')
        $('input[name=unaccredited_supplier]').val('');
    })
</script>

<script>
   {% if id %}
         $('#branch_2').html(`
             <option value="{{details.branch.pk}}" selected>{{details.branch.branch_code}}</option>
         `).trigger('change') 
            
         $('#accreditation_no_supplier').html(`
             <option value="{{details.supplier.pk}}" selected>{{details.supplier.name}}</option>
         `).trigger('change') 
         
         {% if details.supplier is None %}
         $('#accreditation_no_supplier').attr('required', false); 
         {% endif %}
         
         {% if replace_parts_obj %} 
            $('#body_empty').hide()
            {% for replace_part in replace_parts_obj %} 
                $('#table_service').append(`
                    <tr id="service-{{replace_part.pk}}" class="parts-item bg-white border-b"> 
                        <td scope="row" class="px-6 py-4 font-normal text-black whitespace-nowrap ">
                            {{replace_part.part}}
                            <input type="hidden" name="parts" value="{{replace_part.part}}" />
                        </td>
                        <td scope="row" class="px-6 py-4 font-normal text-black  ">
                            {{replace_part.description}}
                            <input type="hidden" name="description" value="{{replace_part.description}}" />
                        </td>
                        <td scope="row" class="px-6 py-4 font-normal text-black  ">
                            {{replace_part.quantity}}
                            <input type="hidden" name="quantity" value="{{replace_part.quantity}}" />
                        </td> 
                        <td scope="row" class="px-6 py-4 font-normal text-black  ">
                            {% if not is_readonly %}
                            <div style="
                                display: flex;
                                align-items:center;
                                justify-content:center;
                            ">  <div data-val="service-{{replace_part.pk}}" class="btn-remove-service cursor-pointer" style="color: white;background: #FF6262;padding: 8px 10px;border-radius: 5px;text-align:center;margin-right: 7px;">
                                    <i class="fal fa-trash-alt"></i>
                                </div> 
                            </div>
                            {% endif %}
                        </td>
                    </tr> 
                `)
            {% endfor %}
        {% endif %}
         
        $.ajax({
        url: '{% url "vehicle:repair_search" %}',
        type: 'GET',
        dataType: 'json',
        success: function(response){
            if(response){   
                let repairs = [] 
                response.data.map((val) => { 
                    repairs.push(
                        {id: val.id, text: val.text}
                    )
                })  
                console.log(repairs) 
                $('#previous_repair_classification').select2('destroy').empty().select2({data: repairs});  
                $('#repair_classification').select2('destroy').empty().select2({data: repairs});  
                setTimeout(() => {
                    $('#repair_classification').val([
                        {% for data_repair in details.repair_classification.all %}
                            "{{data_repair.pk}}",
                        {% endfor %}
                    ]).change();  
                    $('#previous_repair_classification').val([
                        {% for data_repair in details.previous_repair_classification.all %}
                            "{{data_repair.pk}}",
                        {% endfor %}
                    ]).change();
                }, 500);
            }
        }
    }) 

     {% endif %}


     {% if details.status == 'pending' %}
     $(document).on('click', '.update-status', function(e){
        const status = $(this).data('status');
        const id = $(this).data('id');
        let status_label = ''
        
        Swal.fire({
            title: 'Are you sure?',
            html: "To " + $(this).html(),
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes'
        }).then((result) => {
            if (result.isConfirmed) {
                API.makePostRequest(
                    "{% url 'vehicle:update_srf_status' %}",
                    {
                        status:status,
                        id:id
                    },
                    processData=() => {},
                    callback=(response)=>{
                        if ([200,201].includes(response.status)){
                            location.reload()
                        } else {
                            Swal.fire({
                                icon: [200,201].includes(response.status)?'success':'error',
                                title:  'Information',
                                text: response.message || response.data?.message,
                            })
                        }
                        

                    }
                ) 
            }
        })
        
    })
     {% endif %}

    $(document).on('input', 'input[name=unaccredited_supplier]', function() {
        $('#accreditation_no_supplier').attr('required', $(this).val().replace(/ /g, '') == ''); 
    })
</script> 

