<div class="px-4">
    <div class="flex">
        <div class="flex flex-1">
            <div>
                <img src="/static/image/test/test3.png" class="object-contain w-[80px] h-[80px]"/>
            </div>
            <div class="pl-2 flex justify-center flex-col">
                <div class="text-xs">
                    Glory Mae T.  
                </div>
                <div class="text-md font-semibold">
                    Acne Intense Facial
                </div>
            </div>
        </div>
        <div class=" grid place-content-center">
            <div class="text-xs font-light">
                Jan. 23, 2023
            </div>
            <div class="text-xs font-light">
                09:15am - 10:45am
            </div>
            <div class="text-xs">
                +63 923234435343
            </div>
        </div>
    </div>
    <div class="flex items-center">
        <div class=" flex-1 text-xs">
            Assign Aesthetician: Dr. Maical Deo
        </div>
        <div class="flex justify-center">
            {% include 'components/buttons/btn_border.html' with title='Total Service: 1' size='xs' class="w-fit" style="border-radius:20px;" class='rounded-md' %}
        </div>
    </div>
</div>