{% load custom_filters %}
<div class="col-xl-12  bg-white p-8 ">  
    <div class="flex">
        <div class="flex-1">
            <div  class="text-2xl font-semibold">
                Vehicle Assignment History
            </div>
            <div class="text-xs text-black">
                List of assignment history
            </div>
        </div>  
        <div class="mt-[13px] lg:mt-[0] mr-0 lg:mr-2 w-full lg:w-fit"> 
            {% url 'vehicle:export_assignment_history' as export_filter_modal %}
            {% with export_filter_modal|addstr:'?vehicle_id='|addstr:id|addstr:'&repair_status=done&status=complete' as export_srf_filter_modal %}
                {% include 'components/buttons/btn_border.html' with title='Export' link=export_srf_filter_modal class='w-full rounded-md' icon="fal fa-file-export" %}
            {% endwith %}  
        </div>  
    </div>
    <div class="row  mt-4">   
        <div id="container_branch" class="bg-white rounded-md w-full permission-container">
        </div>
    </div>
</div>

<script>
    $(document).ready(function(e){
        loadTable();   
    }) 

    

    function loadTable(){
        var filter_search = $("input[name=filter_search]").val() || ""; 
        var filter_limit = $("#container_branch [name='pagination_limit']").val() || 10;
        var filter_status = $("input[name=filter_status]").val() || ""; 
        var filter_repair_status = $("input[name=filter_repair_status]").val() || ""; 

        var query_params = urlParameterize({
            "search": filter_search,
            "limit": filter_limit,
            "vehicle_id": "{{id}}",
            "repair_status": filter_repair_status
        });
        
        $('#container_branch').loadSubpage({
            url: "{% url 'vehicle:table_assignment_history' %}?"+query_params,
        })
    } 
</script>